<h1>Add a New Word</h1>
<form class="" action="index.html" method="post">
  <label for="">New Word</label>
  <input type="text" name="name" value="">
  <label for="">Definiton</label>
  <input type="text" name="name" value="">
</form>
