<h1>Add a New Word</h1>
<form class="" action="/add_new_word" method="post">
  <label for="">New Word</label>
  <input type="text" name="word" value="">
  <button type="submit" name="button" class="btn-success">Submit</button>
</form>
